body{
    font-family:'Courier New', Courier, monospace;
    font-size: 24px;
    color: darkred;
    border: 1px solid black;
    margin-top: 50px;
    padding: 40px;
}
section{
    color: dodgerblue;
    padding: 20px;
}

ul{
    display: block;
}

li{
    border: 5px double darkorchid;
}


.paragrafo-grande{
    height: 80px;
    width: 500px;
    border: 8px solid darkgoldenrod;
    padding: 0px 30px;
    margin: 0px auto;
    box-sizing: border-box;
    overflow: auto;
}
.smile-img{
    margin: 30px;
}
